@media screen and (min-width: 768px) {
  .report {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 174px;
    cursor: pointer;
    text-decoration: none;

    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: var(--text-color-2);
  }
  .icon {
    width: 14px;
    height: 14px;
    fill: var(--accent-color);
    margin-right: 15px;
  }
}

@media screen and (min-width: 1280px) {
}

.topWrapper {
  margin: 0 auto;
  width: 320px;
  display: flex;
  justify-content: space-around;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .topWrapper {
    width: 670px;
  }
}
@media screen and (min-width: 1280px) {
  .topWrapper {
    width: 1060px;
  }
}
