@media screen and (min-width: 768px) {
  .report {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 40px;
    margin-left: 562px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 154px;
    cursor: pointer;
    text-decoration: none;

    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: var(--text-color-2);
  }
  .report::after {
    content: url(../../Images/iconReports.svg);
    display: block;
    text-align: center;
    margin-left: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .report {
    margin-left: 1016px;
  }
}
