/* фон */

@media screen and (max-width: 767px) {
  /*Серый скруглённый фон на залогиненых стр.*/
  .mainBg {
    height: 286px;
    background: #f5f6fb;
    border-bottom-left-radius: 150px;
  }

  /*Верхний фон с капустами на стр. логинизации*/
  .mainBgAuth {
    height: 286px;

    background: #f5f6fb url(../../Images/mob-top.svg);
    background-position-y: 104px;
    background-position-x: 100%;
    background-repeat: no-repeat;
    border-bottom-left-radius: 120px;
  }
  .bottomFonAuth {
    background: url(../../Images/mob-bottom-auth.svg);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: 35px;
    padding-bottom: 76px;
  }
}

@media screen and (min-width: 768px) {
  .mainBg {
    height: 526px;
    background: #f5f6fb;
    border-bottom-left-radius: 120px;
  }

  .mainBgAuth {
    height: 526px;
    background: #f5f6fb url(../../Images/tablet-top.svg);
    background-repeat: no-repeat;
    background-position-y: 28px;
    background-position-x: center;
    border-bottom-left-radius: 120px;
  }

  .bottomFon {
    background: url(../../Images/tablet-bottom.svg);
    background-repeat: no-repeat;
    background-position-y: 94%;
    background-position-x: 84%;
  }
  .bottomFonReport {
    background: url(../../Images/tablet-bottom.svg);
    background-repeat: no-repeat;
    background-position-y: 104%;
    background-position-x: 88%;
  }
  .bottomFonAuth {
    background: url(../../Images/tablet-bottom.svg);
    background-repeat: no-repeat;
    background-position-y: 93.5%;
    background-position-x: 103px;
    padding-bottom: 192px;
  }
}

@media screen and (min-width: 1280px) {
  .mainBg {
    height: 526px;
    background: #f5f6fb;
    border-bottom-left-radius: 120px;
    max-width: 1280px;
  }

  .mainBgAuth {
    height: 526px;
    background: #f5f6fb url(../../Images/desktop-top.svg);
    background-repeat: no-repeat;
    background-position-y: 28px;
    background-position-x: center;
    border-bottom-left-radius: 120px;
  }

  .bottomFon {
    padding-bottom: 74px;
    background: url(../../Images/desktop-bottom2.svg);
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: center;
  }
  .bottomFonReport {
    padding-bottom: 74px;
    background: url(../../Images/desktop-bottom2.svg);
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: center;
  }
  .bottomFonAuth {
    background: url(../../Images/tablet-bottom.svg);
    background-repeat: no-repeat;
    background-position-y: 94%;
    background-position-x: 230px;
    padding-bottom: 142px;
  }
}
