@media screen and (min-width: 220px) {
  .titleContainer {
    margin-left: 45px;
    padding-top: 86px;
    padding-bottom: 50px;
    text-align: center;
    width: 183px;
    height: 46.34px;
  }
  .mainTitle {
    font-size: 60px;
    font-weight: 900;
    width: 183px;
    height: 46.34px;
    left: 49px;
    top: 142px;
  }

  .title {
    padding-left: 10px;
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #52555f;
  }
}

@media screen and (min-width: 480px) {
  .titleContainer {
    margin-left: 5px;
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;
    width: auto;
    height: 78px;
  }
  .mainTitle {
    font-size: 60px;
    font-weight: 900;
    width: 183px;
    height: 46.34px;
  }

  .title {
    padding-left: 55px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.18em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .titleItems {
    display: flex;
    flex-direction: column;
    margin-right: 150px;
  }
  .titleContainer {
    padding: 0;
  }
  .mainTitle {
    width: 100%;
    padding: 0;
    width: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 102px;
    line-height: 120px;
    color: #000000;
  }

  .title {
    padding-top: 70px;
    padding-left: 70px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: #52555f;
  }
}
@media screen and (min-width: 1280px) {
  .titleItems {
    display: inline-flex;
    flex-direction: column;
    margin-right: 150px;
  }
  .titleContainer {
    /* display: inline-block; */
    margin-left: auto;
    margin-right: 110px;
  }
  .mainTitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 102px;
    line-height: 120px;
    color: #000000;
  }
  .title {
    padding-top: 70px;
    padding-left: 70px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: #52555f;
  }
}
