.tableHead {
  table-layout: fixed;
  border: none;
  overflow-x: hidden;
}
.tableMain {
  width: 605px;
  text-align: center;
  border-radius: 30px;
  color: var(--text-color);
  border-radius: 20px 20px 0 0;
  background-color: var(--bg-color);
  border-spacing: 0px 2px;
  border-left: 2px;
  border-left-style: outset;
  border-right-style: inset;
  border-right-color: transparent;
  border-left-color: transparent;
}
.tableMainBody {
  border-radius: 0;
}
.tableHeader {
  display: none;
}
.tableTitle {
  padding: 10px;
  text-transform: uppercase;
  color: var(--text-color);
  align-items: center;
  letter-spacing: 0.02em;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  font-family: Roboto;
  font-style: normal;
}
.thDate {
  width: 100px;
}
.thDescr {
  max-width: 200px;
  text-align: left;
}
.tdDescr {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  padding-left: 20px;
}
.thCtg {
  width: 140px;
}
.thSum {
  width: 130px;
}
.tdSum {
  width: 130px;
  font-weight: 700;
  color: var(--accent-color-4);
}
.tdSumExpense {
  color: var(--accent-color-3);
}
.thIcon {
  width: 40px;
}
.tableBodyScroll {
  height: 342px;
  overflow-x: hidden;
  margin-top: 0px;
  border-top: none;
  border-bottom: 1px solid var(--bg-color);
}
.tableBodyScroll::-webkit-scrollbar {
  width: 6px;
}
.tableBodyScroll::-webkit-scrollbar-track {
  width: 6px;
  background: #f5f6fb;
}
.tableBodyScroll::-webkit-scrollbar-thumb {
  width: 6px;
  height: 130px;
  background: #ff751d;
  border-radius: 2px;
}
.tableRow {
  display: revert;
  align-items: center;
  height: 36px;
  padding: 0 8px;
  background: var(--bg-text-color);
  color: var(--text-color-3);
  border-bottom: 2px solid #f4f6fb;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
}
.deleteBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: transparent;
  background: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 300ms cubic-bezier(0, 0, 1, 0.74);
}

.icon {
  width: 16px;
  height: 18px;
  fill: var(--text-color-3);
}

.deleteBtn:focus,
.deleteBtn:hover {
  fill: #ff751d;
}

.deleteBtn:focus .icon,
.deleteBtn:hover .icon {
  fill: #ffffff;
}

.deleteBtn:focus,
.deleteBtn:hover {
  background-color: #ff751d;
}

@media screen and (min-width: 768px) {
  .tableHead {
    width: 605px;
  }
  .tableMain {
    width: 605px;
  }
  .tableHeader {
    display: revert;
    align-items: center;
    height: 38px;
    font-size: 12px;
    font-weight: normal;
    /* color: var(--text-color-3); */
  }
}

@media screen and (min-width: 1280px) {
  .tableHead {
    width: 760px;
  }
  .tableMain {
    width: 760px;
  }
}
