.container {
  margin: 0 auto;
  min-width: 320px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .container {
    max-height: 358px;
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 30px;
    padding: 20px 0 30px 0;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    width: 670px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1060px;
  }
}

.slider__first {
  position: relative;
  padding: 0px 20px;
  width: 150px;
  margin: 0 auto;
}

.slider__first .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 10;
  font-size: 0;
  cursor: pointer;
  background-color: transparent;
}
.slider__first .slick-prev,
.slider__first .slick-next {
  width: 6px;
  height: 12px;
  border: none;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.slider__first .slick-next {
  top: 10;
  left: 135px;
  background-image: url("../../../Images/next.svg");
}

.slider__first .slick-prev {
  top: 10;
  right: 135px;
  background-image: url("../../../Images/prev.svg");
}

.slider__first .slick-slider {
  min-width: 0;
}

.slider__first .slick-list {
  overflow: hidden;
}

.slider__first .slick-track {
  display: flex;
  min-width: 0;
  align-items: flex-start;
}

.slider__item {
  margin-top: 20px;
  margin-bottom: 20px;
}
.slider__first .slider__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
