.table {
  margin: 0px;
  width: 230px;
  height: 278px;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  text-align: start;
  text-transform: uppercase;
  color: #52555f;
  border-collapse: collapse;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  background-color: #f5f6fb;
}

.header {
  width: 100%;
  height: 38px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #000000;
  background-color: #f5f6fb;
  border-radius: 20px;
  border-bottom: 2px solid #ffffff;
}

.tableRows {
  height: 38px;
  width: 100%;
  border-bottom: 2px solid #ffffff;
}

.tableRows:last-child {
  border-bottom: none;
}

.tableCell {
  padding: 0px 20px 0px 22px;
}
