header {
  background-color: #ffff;
  /* box-shadow: 0 1px 0px 0 rgb(0 0 0 / 10%), 0 2px 1px -1px rgb(0 0 0 / 10%); */
}
.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  max-width: 1280px;
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .header_logo {
    width: 90px;
    height: 31px;
    margin-left: 19px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .header_logo {
    width: 90px;
    height: 31px;
    margin-left: 26px;
  }
}
@media screen and (min-width: 1280px) {
  .header_logo {
    width: 90px;
    height: 31px;
    margin-left: 26px;
  }
}
@media screen and (max-width: 319.98px) {
  .header_logo {
    width: 90px;
    height: 31px;
    margin-left: 10px;
  }
}
