.container {
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  background: var(--bg-text-color);
  box-shadow: var(--box-shadow-tab-wrrap);
  border-radius: 0px 30px 30px 30px;
}
.buttons {
  display: flex;
}
/* .tableRowElement_btn {
  display: flex;
} */
.deleteBtn {
  cursor: pointer;
  border: none;
  background: transparent;
}
.icon {
  width: 18px;
  height: 18px;
  fill: var(--text-color-3);
  margin-left: 20px;
}

@media screen and (min-width: 768px) {
  .buttons {
    margin-left: 51px;
  }
  .icon {
    margin-left: 40px;
  }
  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 138px;
    height: 40px;
    background: #fafbfd;
    border-radius: 20px 20px 0 0;
    border-bottom: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--text-color);
    cursor: pointer;
    text-decoration: none;
  }
  .link__active {
    color: var(--accent-color);
    background: #fefefe;
  }
  .container {
    display: block;
    margin-left: 51px;
    /* margin-bottom: 40px; */
    width: 665px;
    height: 626px;
    background: var(--bg-text-color);
    border: 1px solid var(--bg-text-color);
  }
  .transactionHistory {
    width: 605px;
    table-layout: fixed;
    margin-left: 30px;
    margin-top: 48px;
    border-collapse: collapse;
  }
  .tableHeader {
    background: var(--bg-color);
    height: 40px;
  }
  .tableTitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: left;
    padding-left: 20px;
    color: var(--text-color);
  }
  .tableTitle:first-child {
    border-top-left-radius: 20px;
  }
  .tableTitle:last-child {
    border-top-right-radius: 20px;
  }
  .tableContainer {
    width: 605px;
    height: 346px;
    overflow: scroll;
    overflow-x: hidden;
    margin-left: 30px;
    border-collapse: collapse;
    border-bottom: 2px solid var(--bg-color);
  }
  .tableBodyContainer {
    width: 605px;
    border-collapse: collapse;
  }
  .tableRow {
    border: 2px solid var(--bg-color);
    height: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-align: left;
    color: var(--text-color-2);

    /* -- */

    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .tableRowElement {
    padding-left: 20px;
  }
  /* Стили для скролла */
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    width: 6px;
    height: 344px;
    background: var(--bg-color);
  }
  ::-webkit-scrollbar-thumb {
    width: 6px;
    height: 130px;
    background: var(--accent-color);
    border-radius: 2px;
  }
}

@media screen and (min-width: 1280px) {
  .buttons {
    margin-left: 110px;
  }
  .icon {
    margin-left: 59px;
  }
  .container {
    margin-left: 110px;
    /* margin-bottom: 83px; */
    width: 1060px;
    height: 579px;
  }
  .transactionHistory {
    width: 760px;
    margin-left: 20px;
    margin-top: 59px;
    table-layout: fixed;
    border-collapse: collapse;
  }
  .tableHeader {
    background: var(--bg-color);
    height: 40px;
  }
  .tableContainer {
    width: 760px;
    height: 344px;
    margin-left: 20px;
  }
  .tableBodyContainer {
    width: 760px;
    border-collapse: collapse;
    border-top: hidden;
  }
}
