/* .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.text {
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
