:root {
  --bg-color: rgba(245, 246, 251, 1);
  --bg-text-color: rgba(255, 255, 255, 1);
  --text-color: rgba(0, 0, 0, 1);
  --text-color-1: rgba(82, 85, 95, 0.4);
  --text-color-2: rgba(82, 85, 95, 0.7);
  --text-color-3: rgba(82, 85, 95, 1);
  --accent-color: rgba(255, 117, 29, 1);
  --accent-color-2: rgba(255, 218, 192, 1);
  --accent-color-3: rgba(231, 25, 46, 1);
  --accent-color-4: rgba(64, 121, 70, 1);
  --modal-bg: rgba(29, 52, 106, 1);
  --bg-tab-selected: rgba(254, 254, 254, 1);
  --bg-tab: rgba(250, 251, 253, 1);
  --box-shadow-tab-wrrap: 0px 10px 60px rgba(170, 178, 197, 0.2);
  --color-placeholder: rgba(199, 204, 220, 1);
  --color-icon: rgba(7, 31, 65, 1);
  --time: 250ms;
  --timing: ease-in-out;
}

/* roboto-regular - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../src/fonts/roboto-v29-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../src/fonts/roboto-v29-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../src/fonts/roboto-v29-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../src/fonts/roboto-v29-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../src/fonts/roboto-v29-latin-ext_latin_cyrillic-ext_cyrillic-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../src/fonts/roboto-v29-latin-ext_latin_cyrillic-ext_cyrillic-regular.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../src/fonts/roboto-v29-latin-ext_latin_cyrillic-ext_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../src/fonts/roboto-v29-latin-ext_latin_cyrillic-ext_cyrillic-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../src/fonts/roboto-v29-latin-ext_latin_cyrillic-ext_cyrillic-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../src/fonts/roboto-v29-latin-ext_latin_cyrillic-ext_cyrillic-500.woff")
      format("woff"),
    /* Modern Browsers */
      url("../src/fonts/roboto-v29-latin-ext_latin_cyrillic-ext_cyrillic-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../src/fonts/roboto-v29-latin-ext_latin_cyrillic-ext_cyrillic-500.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../src/fonts/roboto-v29-latin-ext_latin_cyrillic-ext_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../src/fonts/roboto-v29-latin-ext_latin_cyrillic-ext_cyrillic-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../src/fonts/roboto-v29-latin-ext_latin_cyrillic-ext_cyrillic-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../src/fonts/roboto-v29-latin-ext_latin_cyrillic-ext_cyrillic-700.woff")
      format("woff"),
    /* Modern Browsers */
      url("../src/fonts/roboto-v29-latin-ext_latin_cyrillic-ext_cyrillic-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../src/fonts/roboto-v29-latin-ext_latin_cyrillic-ext_cyrillic-700.svg#Roboto")
      format("svg"); /* Legacy iOS */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
}

body {
  font-family: Roboto;

  margin: 0;
  padding: 0;
}

ul,
li,
h1,
h2,
h3,
h4,
button {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

p {
  margin: 0;
}

input {
  outline: none;
}

a {
  text-decoration: none;
}
